* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  background: rgb(255, 255, 225);
}

.main {
  display: flex;
  width: 100%;
}

.container {
  display: flex;
  width: 900px;
  height: 465px;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px;
  z-index: 1;
}

.box {
  position: relative;
  background: cornflowerblue;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
  transform-style: preserve-3d;
}

.box img {
  width: 64px;
  height: 64px;
}
.box:hover {
  cursor: pointer;
}

.box:active {
  transform: scale(0.97);
  transition-duration: 0.5s;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.box.flip {
  transform: rotateY(180deg);
}

.box.match {
  background: #aff7a6;
}

.back,
.front {
  position: absolute;
  top: 33%;
  left: 33%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  /* width: 20px;
  height: 20px; */
  margin: 0.2rem;
  font-weight: 900;
  z-index: 2;
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.openModal {
  position: absolute;
  left: 36%;
  top: 25%;
  background: #fefefe;
  width: 300px;
  height: 200px;
  text-align: center;
  font-size: 2rem;
}


.openModal button {
  position: relative;
  left: 36%;
  top: 70%;
}
