* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(255, 255, 225);
}

main {
  text-align: center;
  z-index: 0;
}

h1 {
  padding: 1rem;
}

.container {
  display: flex;
  width: 900px;
  height: 465px;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px;
}

.buttons {
  display: flex;
  z-index: 1;
}

.box {
  position: relative;
  background: cornflowerblue;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
  transform-style: preserve-3d;
}

.box img {
  width: 64px;
  height: 64px;
}
.box:hover {
  cursor: pointer;
}

.box:active {
  transform: scale(0.97);
  transition-duration: 0.5s;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.box.flip {
  transform: rotateY(180deg);
}

.box.match {
  background: #aff7a6;
}

.back,
.front {
  position: absolute;
  top: 33%;
  left: 33%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.2rem;
  font-weight: 500;
  z-index: 2;
  width: 5rem;
  height: 2.5rem;
  background: #fefefe;
  border: thin solid blue;
  border-radius: 5px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
  color: rgb(24, 39, 66);
  transition-duration: 0.3s;
}

button:hover {
  cursor: pointer;
  transform: scale(0.97);
  transition-duration: 0.3s;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.openModal {
  position: absolute;
  left: 33%;
  top: 15%;
  background: #fefefe;
  width: 500px;
  height: 400px;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
  flex-direction: column;
}

.openModal li {
  list-style: none;
  line-height: 2;
}

.openModal h2 {
  margin-top: 1rem;
}

.openModal button {
  position: relative;
  left: 43%;
  top: 70%;
  margin: 0;
}
